.note {
    display: flex;
    align-items: center;
    background-color:rgb(246, 245, 245);
    padding: 15px;
    margin: 20px 0;
    height: 60px;
    font-family: sans-serif;
    font-size: 20px;
    position: relative;
  }
  
  .note::before {
    content: "";
    display: block;
    width: 8px;
    height: 80%; 
    position: absolute;
    left:2px;
    margin-left: 10px;

  }
  
  .Shape-1::before {
    background-color:crimson; 
  }
  
  .Shape-2::before {
    background-color:darkcyan; 
  }
  p{
    padding-left: 20px;
  }
  